body {
    margin: 0 auto;
    background-color: tomato;
}

.header-line-wrap {
    padding-top: 22px;
    background: #ffffff;
    padding-bottom: 20px;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.header-logo {
    display: block;
    justify-content: center;
}

.header-logo a {
    text-decoration: none;
}

.header-logo p {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #131313;
    font-weight: 700;
    font-family: "Poppins";
}

.header-line ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-left: -200px;
}

nav a,
.header-address address {
    font-size: 14px;
    line-height: 35px;
    color: #060606;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    font-style: normal;
    transition: 1s ease all;
}

nav a:hover,
.header-address:hover {
    color: #2d3dad;
}

.header-phone {
    background: url(../img/phone.png) no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
}

.header-email {
    background: url(../img/email.png) no-repeat;
    background-position: 0 7px;
    padding-left: 30px;
    margin: 0 60px;
}

.header-address {
    background: url(../img/location.png) no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
}

.burger-menu {
    cursor: pointer;
}

.burger-line {
    display: block;
    width: 16px;
    height: 4px;
    background-color: #252525;
    position: relative;
}

.burger-line::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #252525;
    top: -5px;
    transform: translate(-14px, -4px);
}

.burger-line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #252525;
    top: 5px;
    transform: translate(-14px, 4px);
}

.header-content-wrap {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 140px;
}

.wrapper-header-content {
    width: 80%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -40px;
}

h1 {
    font-size: 65px;
    line-height: 100px;
    color: #060606;
    font-weight: 700;
    font-family: "Poppins";
    margin-bottom: 37px;
    max-width: 450px;
}

.header-content p {
    font-size: 14px;
    color: #060606;
    font-weight: 400;
    font-family: "Poppins";
    max-width: 600px;
    margin-bottom: 50px;
}

.header-button-line a {
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    color: #fafafa;
    font-weight: 400;
    font-family: "Poppins";
    background-color: #252525;
    padding: 20px 45px;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 20px;
    transition: 1s ease all;
}

.header-button-line a:hover {
    background-color: #0c426e;
}

.header-content-riht-bloc img {
    width: 700px;
    margin-left: -90px;
    margin-bottom: -40px;
}

.header-arrow-right {
    display: block;
    width: 55px;
    height: 55px;
    background: #252525;
    margin-bottom: 5px;
    margin-right: 30px;
    position: relative;
    transition: 1s ease all;
}

.header-arrow-right:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 55%;
    border-bottom: none;
    border-left: none;
}

.header-arrow-right::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background: #ffffff;
    transform: translate(-70%, -50%);
    top: 50%;
    left: 55%;
}

.header-arrow-right:hover,
.header-arrow-left:hover {
    background: #0c426e;
}

.header-arrow-left {
    display: block;
    width: 55px;
    height: 55px;
    background: #252525;
    margin-right: 30px;
    position: relative;
    transition: 1s ease all;
}

.header-arrow-left:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 45%;
    border-top: none;
    border-right: none;
}

.header-arrow-left::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background: #ffffff;
    transform: translate(-30%, -50%);
    top: 50%;
    left: 45%;
}

.services-wrap {
    background: #ffffff;
    padding-top: 80px;
    padding-bottom: 70px;
}

.wrapper {
    width: 86%;
    margin: 0 auto;
}

.services-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-headerline h2:first-child {
    font-size: 40px;
    line-height: 100px;
    color: #252525;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    margin-right: 10px;
    text-transform: capitalize;
}

.services-headerline h2:last-child {
    font-size: 40px;
    line-height: 100px;
    color: #0c426e;
    font-weight: 600;
    font-family: "Poppins";
    margin-right: 10px;
    margin: 0;
    text-transform: capitalize;
}

.services hr {
    width: 85px;
    height: 10px;
    border-radius: 5px;
    background-color: #252525;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 70px;
}

.services-bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -4px 15px 5px rgba(0, 0, 0, 0.09);
}

.services-bloc figure {
    margin: 0;
    height: 100%;
}

.services-bloc img {
    width: 100%;
    height: 410px;
    position: relative;
}

.services figcaption {
    height: 410px;
    padding: 0 50px;
    background: #ffffff;
}

.services h3 {
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    color: #252525;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    padding-top: 40px;
    text-transform: capitalize;
}

.services p {
    font-size: 13px;
    line-height: 33px;
    color: #252525;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.services a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: #252525;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    transition: 1s ease all;
}

.services a:hover {
    color: #2d3dad;
}

.carwash-1,
.carwash-2 {
    position: relative;
}

.carwash-1::before {
    content: '';
    border: 36px solid #ffffff;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-top: 35px solid transparent;
    border-left: 35px solid transparent;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 100%;
    z-index: 1;
    left: 50%;
}

.carwash-2::before {
    content: '';
    border: 36px solid #ffffff;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 35px solid transparent;
    border-right: 35px solid transparent;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: -3px;
    z-index: 1;
    left: 50%;
}

.quality-top {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #ffffff;
}

.quality-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.quality-headerline h2:first-child {
    font-size: 40px;
    line-height: 100px;
    color: #252525;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    margin-right: 10px;
    text-transform: capitalize;

}

.quality-headerline h2:last-child {
    font-size: 40px;
    line-height: 100px;
    color: #0c426e;
    font-weight: 600;
    font-family: "Poppins";
    text-transform: capitalize;
    margin: 0;
}

.quality hr {
    width: 85px;
    height: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.quality-bg {
    background: linear-gradient(to top, rgba(11, 65, 109, .7), rgba(11, 65, 109, .7)), url(../img/quality-bg.jpg) no-repeat bottom;
    padding: 150px 0;
}

.quality-bg h3 {
    font-size: 30px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 100px;
    text-transform: capitalize;
}

.quality-bg p {
    font-size: 17px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    max-width: 1310px;
    margin: 0 auto;
    margin-bottom: 135px;
}

.quality-bg a {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 17px;
    color: #0b0b0b;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 299px;
    background-color: #f9fafb;
    transition: 1s ease all;
}

.quality-bg a:hover {
    background-color: #0c426e;
    color: #ffffff;
}

.choose-wrap {
    background: #ffffff;
    padding-top: 140px;
    padding-bottom: 65px;
}

.choose-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-headerline h2:first-child {
    font-size: 40px;
    line-height: 31px;
    color: #161616;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    text-align: center;
    margin-right: 10px;
}

.choose-headerline h2:last-child {
    font-size: 40px;
    line-height: 31px;
    color: #0c426e;
    font-weight: 600;
    font-family: "Poppins";
    margin: 0;
    text-align: center;
}

.choose hr {
    width: 85px;
    height: 10px;
    border-radius: 5px;
    background-color: #252525;
    margin-bottom: 100px;
}

.choose-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted-headerline,
.talented-headerline,
.organic-headerline {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.trusted-headerline p,
.talented-headerline p,
.organic-headerline p {
    font-size: 18px;
    margin: 0;
    line-height: 31px;
    color: #0c426e;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-right: 20px;
    border: 2px solid #0c426e;
    border-radius: 50%;
    transition: 1s ease all;
}

.trusted-headerline p {
    padding: 10px 16px;
}

.talented-headerline p,
.organic-headerline p {
    padding: 10px 14px;
}

.choose-info h3 {
    margin: 0;
    font-size: 20px;
    line-height: 31px;
    color: #0c426e;
    font-weight: 600;
    font-family: "Poppins";
    transition: 1s ease all;
    text-align: center;
}

.choose-text {
    font-size: 14px;
    line-height: 28px;
    color: #151515;
    font-weight: 400;
    font-family: "Poppins";
    max-width: 290px;
    transition: 1s ease all;
}

.trusted,
.talented,
.organic {
    transition: 1s ease all;
    box-shadow: 0px -4px 15px 5px rgba(0, 0, 0, 0.09);
    padding: 25px 40px;
    margin: 0 12px;
    background: #ffffff;
    cursor: pointer;
}

.trusted:hover,
.talented:hover,
.organic:hover {
    background: #0c426e;
}

.trusted:hover h3,
.talented:hover h3,
.organic:hover h3 {
    color: #ffffff;
}

.trusted:hover p,
.talented:hover p,
.organic:hover p {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.trusted:hover .choose-text,
.talented:hover .choose-text,
.organic:hover .choose-text {
    color: #ffffff;
    border: none;
}

.testimonial-wrap {
    padding-top: 65px;
    background: #ffffff;
    padding-bottom: 200px;
}

.testimonial h2 {
    font-size: 40px;
    line-height: 31px;
    color: #111111;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 10px;
}

.testimonial hr {
    width: 85px;
    height: 10px;
    border-radius: 5px;
    background-color: #252525;
    margin-bottom: 100px;
}

.testimonial-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.worker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 80px 65px 70px;
    box-shadow: 0px -4px 15px 5px rgb(0 0 0 / 9%);
}

.worker-right-bloc {
    margin-left: 50px;
}

.worker p {
    max-width: 659px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
    color: #0c0c0c;
    font-weight: 400;
    font-family: "Poppins";
}

.worker h3 {
    font-size: 17px;
    color: #0c0c0c;
    font-weight: 400;
    font-family: "Poppins";
    margin: 0;
    margin-bottom: 4px;
}

.worker a {
    display: block;
    font-size: 10px;
    line-height: 30px;
    color: #0c426e;
    font-weight: 400;
    font-family: "Poppins";
    margin-left: 2px;
    margin-top: -15px;
    text-decoration: none;
    transition: 1s ease all;
}

.worker a:hover {
    color: #0c0c0c;
}

.testimonial-arrow-left,
.testimonial-arrow-right {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0c0c0c;
    position: relative;
    transition: 1s ease all;
}

.testimonial-arrow-left:hover,
.testimonial-arrow-right:hover {
    background: #0c426e;
}


.testimonial-arrow-left::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border: 3px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 45%;
    border-right: none;
    border-top: none;
}


.testimonial-arrow-left::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 3px;
    background: #ffffff;
    transform: translate(-25%, -50%);
    top: 50%;
    left: 45%;
}

.testimonial-arrow-right::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border: 3px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 55%;
    border-left: none;
    border-bottom: none;
}


.testimonial-arrow-right::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 3px;
    background: #ffffff;
    transform: translate(-75%, -50%);
    top: 50%;
    left: 55%;
}

footer {
    background: #242424;
    padding-top: 260px;
}

.footer-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.footer-line h2 {
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.footer-line ul {
    list-style: none;
    padding: 0;
}

.footer-address address,
.footer-phone a,
.footer-email a {
    display: inline-block;
    opacity: .5;
    font-style: normal;
    font-size: 17px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 25px;
    margin-bottom: 15px;
    transition: 1s ease all;
    text-decoration: none;
}

.footer-address {
    background: url(../img/location-gray.png) no-repeat;
    background-position: 0 10px;

}

.footer-contact address:hover,
.footer-phone a:hover,
.footer-email a:hover,
.footer-link a:hover {
    opacity: 1;
}

.footer-phone {
    background: url(../img/phone-gray.png) no-repeat;
    background-position: 0 10px;
}

.footer-email {
    background: url(../img/email-gray.png) no-repeat;
    background-position: 0 12px;
}

.footer-link a {
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Myriad Pro";
    opacity: .5;
    margin-bottom: 8px;
    text-decoration: none;
    transition: 1s ease all;
}

.footer-opening time {
    margin-bottom: 10px;
    opacity: .5;
    font-size: 17px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.footer-newsletter p {
    padding: 10px 140px 10px 10px;
    background-color: #ffffff;
    font-size: 10px;
    color: #162448;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.footer-newsletter a {
    font-size: 10px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    text-transform: uppercase;
    padding: 10px 60px;
    background-color: #0c426e;
    text-decoration: none;
    transition: 1s ease all;
}

.footer-newsletter a:hover {
    background-color: #f9fafb;
    color: #0b0b0b;
}

.social-networks {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 40px;
}

.facebook {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/facebook.png) no-repeat;
    margin: 0 3px;
}

.twitter {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/twitter.png) no-repeat;
    margin: 0 3px;
}

.in {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/in.png) no-repeat;
    margin: 0 3px;
}

.instagram {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/instagram.png) no-repeat;
    margin: 0 3px;
}

footer hr {
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.footer-text p {
    font-size: 17px;
    line-height: 32px;
    color: #fefdfd;
    font-weight: 400;
    font-family: "Poppins";
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}

@media screen and (max-width:1440px) {

    .header-phone a,
    .header-email a,
    .header-address {
        margin: 0 40px;
    }

    .header-content-riht-bloc img {
        width: 500px;
    }

    h1 {
        line-height: 80px;
        margin-bottom: 25px;
    }

    .header-content p {
        margin-bottom: 30px;
    }

    .header-button-line a {
        padding: 10px 35px;
    }

    .quality-bg h3 {
        margin-bottom: 80px;
    }

    .quality-bg p {
        margin-bottom: 80px;
    }

    .worker {
        box-sizing: border-box;
        width: 80%;
    }
}

@media screen and (max-width:1240px) {

    .header-phone a,
    .header-email a,
    .header-address {
        margin: 0 10px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 60px;
    }

    .header-content-riht-bloc img {
        width: 400px;
    }

    .header-button-line a {
        padding: 6px 35px;
    }
}

@media screen and (max-width:1060px) {
    .header-logo img {
        width: 80%;
    }

    .header-logo p {
        font-size: 14px;
        margin-left: -18px;
    }

    .header-phone a,
    .header-email a,
    .header-address address {
        font-size: 10px;
        margin: 0;
    }

    .header-email {
        margin: 0 10px;
    }

    h1 {
        font-size: 30px;
        max-width: 400px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    .header-content p {
        font-size: 12px;
        margin-bottom: 15px;
        max-width: 300px;
    }

    .header-button-line a {
        font-size: 12px;
        padding: 4px 30px;
    }

    .header-content-riht-bloc img {
        margin-left: -300px;
    }

    .header-arrow-right,
    .header-arrow-left {
        width: 45px;
        height: 45px;
    }

    .services-headerline h2:first-child,
    .services-headerline h2:last-child,
    .quality-headerline h2:first-child,
    .quality-headerline h2:last-child,
    .choose-headerline h2:first-child,
    .choose-headerline h2:last-child {
        font-size: 30px;
        margin: 0;
    }

    .services hr {
        height: 6px;
        margin-bottom: 50px;
    }

    .services h3 {
        font-size: 20px;
        line-height: 25px;
        padding-top: 30px;
        margin-bottom: 15px;
    }

    .services p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .services figcaption {
        height: 310px;
        padding: 0 30px;
    }

    .services-bloc img {
        height: 310px;
    }

    .quality hr {
        height: 6px;
        margin-top: -30px;
    }

    .quality-top {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .quality-bg {
        padding: 100px 0;
    }

    .quality-bg h3 {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .quality-bg p {
        font-size: 12px;
        margin-bottom: 50px;
    }

    .quality-bg a {
        font-size: 15px;
        padding: 20px 0;
        width: 220px;
    }

    .choose-wrap {
        padding-top: 90px;
    }

    .choose hr,
    .testimonial hr {
        height: 6px;
        margin-bottom: 60px;
    }

    .testimonial-wrap {
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .testimonial h2 {
        font-size: 30px;
    }

    .testimonial-arrow-left,
    .testimonial-arrow-right {
        width: 50px;
        height: 50px;
    }

    .worker {
        width: 70%;
        padding: 35px 50px;
    }

    .worker p {
        font-size: 12px;
    }

    footer {
        padding-top: 130px;
    }

    .footer-line h2,
    .footer-text p {
        font-size: 15px;
    }

    .footer-address address,
    .footer-phone a,
    .footer-email a,
    .footer-link a,
    .footer-opening time {
        font-size: 12px;
        margin: 0;
    }

    .facebook,
    .twitter,
    .in,
    .instagram {
        background-size: 25px 25px;
    }

    .social-networks {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}